# API Core
fastapi==0.128.0
uvicorn==0.39.0
pydantic==2.12.5
python-dotenv==1.2.1

# MLflow y DagshHub
mlflow-skinny==3.1.4
dagshub==0.6.5

# Motor del Modelo (OBLIGATORIO)
# Aunque no escribamos código de estas librerías, MLflow las necesita internamente
# para poder "reconstruir" y ejecutar el objeto del modelo en memoria.
scikit-learn==1.6.1
